 * { text-transform: uppercase; } 
#page-contents:after {content: "XKITTEN CIRCUS!!"; font-weight:bold;font-size:100px; text-align:center;background:rgba(255,255,255,0.7); display:block; position:relative; z-index:9999999;}
#body,table.outline{background:url('dancingstalin.gif')!important;font-family:'Comic Sans MS'!important;}table{background:url('dancingstalin.gif');border:7px #f00 dashed;}tr,td{background:none!important;}th{background:#f00!important;color:white!important;}#theme_banner{background:url('dancingstalin.gif');}
																
@keyframes dorp
{
	from { color: #00f; }
	16% { color: #0ff;  }
	33% { color: #0f0; }
	50% { color: #ff0;  }
	66% { color: #f00; }
	to { color: #f0f;}
}

@-webkit-keyframes dorp
{
	from { color: #00f;  }
	16% { color: #0ff;  }
	33% { color: #0f0; }
	50% { color: #ff0;  }
	66% { color: #f00; }
	to { color: #f0f;  }
}

a, table, div#derp span
{
	animation-name: dorp;
	animation-delay: 0;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
	-webkit-animation-name: dorp;
	-webkit-animation-delay: 0;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	
	padding: 5px;
	border: 5px dashed red;
}

div#derp span
{
	background: white;
}
																
																